In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [4]:
company = pd.read_csv("F:\Data Science\Assignment\Random Forests\Data\Company_Data.csv")

In [5]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [7]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [50]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

In [51]:
company["ShelveLoc"] = label_encoder.fit_transform(company["ShelveLoc"])
company["Urban"] = label_encoder.fit_transform(company["Urban"])
company["US"] = label_encoder.fit_transform(company["US"])

In [52]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1,0
397,7.41,162,26,12,368,159,2,40,18,1,1,0
398,5.94,100,79,7,284,95,0,50,12,1,1,0
399,9.71,134,37,0,27,120,1,49,16,1,1,1

In [60]:
feature_cols=['CompPrice','Income','Advertising','Population','Price','ShelveLoc','Age','Education','Urban','US']

In [61]:
company['High'] = company.Sales.map(lambda x: 1 if x>8 else 0)

In [62]:
company

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,High
0,9.50,138,73,11,276,120,0,42,17,1,1,1
1,11.22,111,48,16,260,83,1,65,10,1,1,1
2,10.06,113,35,10,269,80,2,59,12,1,1,1
3,7.40,117,100,4,466,97,2,55,14,1,1,0
4,4.15,141,64,3,340,128,0,38,13,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,1,33,14,1,1,1
396,6.14,139,23,3,37,120,2,55,11,0,1,0
397,7.41,162,26,12,368,159,2,40,18,1,1,0
398,5.94,100,79,7,284,95,0,50,12,1,1,0
399,9.71,134,37,0,27,120,1,49,16,1,1,1

In [63]:
x = company.drop(['Sales', 'High'], axis = 1)

In [64]:
x = company[feature_cols]

In [65]:
y = company.High

In [66]:
print(x)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
0          138      73           11         276    120          0   42
1          111      48           16         260     83          1   65
2          113      35           10         269     80          2   59
3          117     100            4         466     97          2   55
4          141      64            3         340    128          0   38
..         ...     ...          ...         ...    ...        ...  ...
395        138     108           17         203    128          1   33
396        139      23            3          37    120          2   55
397        162      26           12         368    159          2   40
398        100      79            7         284     95          0   50
399        134      37            0          27    120          1   49

     Education  Urban  US
0           17      1   1
1           10      1   1
2           12      1   1
3           14      1   1
4           13      1   0
..         ...    ...  ..
395         14      1   1
396         11      0   1
397         18      1   1
398         12      1   1
399         16      1   1

[400 rows x 10 columns]

In [67]:
print(y)

0      1
1      1
2      1
3      0
4      0
      ..
395    1
396    0
397    0
398    0
399    1
Name: High, Length: 400, dtype: int64

# Splitting the data into the Training data and Test data

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 40)

In [70]:
print(x_train)

     CompPrice  Income  Advertising  Population  Price  ShelveLoc  Age  \
189        118     117           18         509    104          2   26
396        139      23            3          37    120          2   55
299        135      40           17         497     96          2   54
347         96      39            0         161    112          1   27
282        150      96            0          80    154          1   61
..         ...     ...          ...         ...    ...        ...  ...
306        131      32            1          85    133          2   48
165        147      58            7         100    191          0   27
7          136      81           15         425    120          1   67
219        116      79           19         359    116          1   58
326        133      30            0         152    122          2   53

     Education  Urban  US
189         15      0   1
396         11      0   1
299         17      0   1
347         14      0   0
282         11      1   0
..         ...    ...  ..
306         12      1   1
165         15      1   1
7           10      1   1
219         17      1   1
326         17      1   0

[300 rows x 10 columns]

In [80]:
print(y_train)

189    1
396    0
299    1
347    0
282    0
      ..
306    0
165    0
7      1
219    1
326    0
Name: High, Length: 300, dtype: int64

In [81]:
print(x_test)

[[-4.80672198e-02  6.73130554e-01  3.03206426e-01 -2.41338088e-01
   8.46869251e-01 -3.29087950e-01  1.20536035e+00 -1.44201595e+00
   6.54653671e-01  7.01810027e-01]
 [-1.17775764e+00  2.43929351e-01  3.03206426e-01 -1.39884032e+00
  -2.27474352e-01  8.60386569e-01  8.97451540e-01 -6.64648861e-01
   6.54653671e-01  7.01810027e-01]
 [ 3.27455166e+00 -1.13738319e-01  3.32519739e+00  1.02446845e+00
   2.13608157e+00  8.60386569e-01  3.53068767e-02 -6.64648861e-01
   6.54653671e-01  7.01810027e-01]
 [-5.79686240e-01  1.13809852e+00 -4.52291314e-01  1.34261234e+00
  -8.29106770e-01  8.60386569e-01  1.58470400e-01  1.12718228e-01
   6.54653671e-01  7.01810027e-01]
 [-9.78400506e-01 -5.78706289e-01 -1.05668951e+00 -1.73052225e+00
  -6.57211793e-01  8.60386569e-01  5.27960970e-01 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [ 1.41388509e+00 -1.00790749e+00 -1.05668951e+00  6.32677635e-02
   1.19065920e+00  8.60386569e-01  1.26694211e+00 -1.44201595e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.17775764e+00  1.28116559e+00  2.41860010e+00  5.77713201e-01
   5.46053042e-01 -3.29087950e-01 -9.50001310e-01  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [-3.23778134e+00  2.93287489e-02 -1.05668951e+00 -1.64252500e+00
  -3.96619009e+00  8.60386569e-01 -1.49438408e-01  1.66745241e+00
   6.54653671e-01 -1.42488702e+00]
 [ 1.74614697e+00  4.58529952e-01 -1.05668951e+00 -5.18867863e-01
   4.17131809e-01  8.60386569e-01  9.68886383e-02  8.90085317e-01
   6.54653671e-01 -1.42488702e+00]
 [-8.45495750e-01 -7.79715519e-02  1.36090326e+00  3.67873615e-01
  -1.81750288e+00 -3.29087950e-01  1.45168739e+00  5.01401773e-01
   6.54653671e-01  7.01810027e-01]
 [-3.13876730e-01 -6.43801805e-03 -1.05668951e+00  7.68058013e-02
   1.40552792e+00 -3.29087950e-01  1.63643268e+00 -6.64648861e-01
   6.54653671e-01 -1.42488702e+00]
 [-9.78400506e-01 -1.43710870e+00 -1.05668951e+00  1.47799272e+00
  -2.27474352e-01  8.60386569e-01 -1.44265540e+00 -6.64648861e-01
  -1.52752523e+00 -1.42488702e+00]
 [-5.79686240e-01  1.78190033e+00  6.05405522e-01  1.09215864e+00
  -1.41526864e-01  8.60386569e-01  8.97451540e-01  1.66745241e+00
  -1.52752523e+00  7.01810027e-01]
 [-5.13233863e-01  6.50955158e-02 -1.05668951e+00 -1.09423447e+00
  -1.17289672e+00 -1.51856247e+00 -8.26837786e-01  1.27876886e+00
   6.54653671e-01 -1.42488702e+00]
 [ 9.48718444e-01 -5.07172755e-01  3.03206426e-01  9.09395128e-01
   1.16315601e-01 -3.29087950e-01 -7.03674263e-01  8.90085317e-01
  -1.52752523e+00  7.01810027e-01]
 [-6.46138618e-01 -5.78706289e-01 -1.05668951e+00  5.50637125e-01
  -7.86133025e-01 -1.51856247e+00  1.02061506e+00  1.66745241e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.97518617e+00  9.23497922e-01  1.05870417e+00  7.87552788e-01
   1.59289345e-01  8.60386569e-01 -1.01158307e+00  1.66745241e+00
  -1.52752523e+00  7.01810027e-01]
 [-9.11948128e-01  7.08897321e-01 -7.54490410e-01 -1.66878880e-01
  -7.43159281e-01  8.60386569e-01  5.89542732e-01 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [ 4.17099423e-01  1.60306649e+00 -1.05668951e+00 -9.25008998e-01
   3.31184321e-01  8.60386569e-01  1.45168739e+00  1.27876886e+00
  -1.52752523e+00  7.01810027e-01]
 [ 4.83551801e-01 -1.32980839e+00 -9.05589957e-01 -1.27022896e+00
   1.23363295e+00  8.60386569e-01 -6.42092502e-01  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [-1.31066239e+00 -1.49505086e-01  4.54305974e-01 -1.69667715e+00
  -1.17289672e+00  8.60386569e-01  9.59033301e-01  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [ 8.15813689e-01  1.36629050e-01 -1.05668951e+00 -8.09935677e-01
  -9.58028002e-01  8.60386569e-01 -1.56581893e+00  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [ 2.21131362e+00  4.22763185e-01 -1.05668951e+00  6.38634371e-01
   2.02263089e-01  8.60386569e-01 -1.62740069e+00  1.66745241e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.44356715e+00  1.20963206e+00  9.07604618e-01 -9.79161150e-01
  -2.70448096e-01 -3.29087950e-01 -1.07316483e+00  8.90085317e-01
   6.54653671e-01  7.01810027e-01]
 [-1.80971975e-01 -9.36373958e-01  6.05405522e-01 -1.70344617e+00
   7.60921762e-01  8.60386569e-01  4.04797447e-01 -2.75965317e-01
   6.54653671e-01  7.01810027e-01]
 [-2.47424352e-01 -1.50864223e+00 -1.05668951e+00 -4.78253750e-01
   5.03079298e-01  8.60386569e-01  1.58470400e-01 -2.75965317e-01
  -1.52752523e+00 -1.42488702e+00]
 [-1.24421002e+00  1.67460003e+00  6.05405522e-01  1.54568291e+00
   6.32000530e-01 -3.29087950e-01 -1.49438408e-01 -1.05333241e+00
  -1.52752523e+00  7.01810027e-01]
 [ 1.01517082e+00 -1.49505086e-01 -6.03390862e-01  4.89715955e-01
   5.03079298e-01 -1.51856247e+00 -8.88419548e-01 -2.75965317e-01
   6.54653671e-01 -1.42488702e+00]
 [ 1.81259935e+00 -6.43801805e-03 -7.54490410e-01 -1.40560934e+00
   7.17948018e-01 -3.29087950e-01  4.04797447e-01  8.90085317e-01
   6.54653671e-01  7.01810027e-01]
 [ 7.49361311e-01  4.22763185e-01  4.54305974e-01 -1.64929402e+00
  -4.85316817e-01 -3.29087950e-01  5.27960970e-01  5.01401773e-01
   6.54653671e-01  7.01810027e-01]
 [-1.04485288e+00  1.49576619e+00 -1.05668951e+00  9.50009242e-01
  -2.07534535e+00 -3.29087950e-01 -3.95765455e-01  1.27876886e+00
  -1.52752523e+00  7.01810027e-01]
 [-3.13876730e-01 -1.58017576e+00 -1.05668951e+00 -4.57946693e-01
   7.17948018e-01 -3.29087950e-01  1.26694211e+00 -2.75965317e-01
   6.54653671e-01 -1.42488702e+00]
 [-1.44356715e+00 -9.72140725e-01  1.20980371e+00  1.51860683e+00
  -1.68858165e+00 -3.29087950e-01  1.26694211e+00  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [-9.11948128e-01  1.06656499e+00  1.66310236e+00  1.44414762e+00
   5.03079298e-01  8.60386569e-01 -4.57347217e-01 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [ 1.08162320e+00  1.45999943e+00 -1.05668951e+00 -1.06038938e+00
   2.05013409e+00 -3.29087950e-01  1.20536035e+00 -6.64648861e-01
   6.54653671e-01 -1.42488702e+00]
 [ 4.83551801e-01  4.94296719e-01 -1.05668951e+00 -1.44622345e+00
  -1.38776544e+00  8.60386569e-01 -1.49438408e-01  1.27876886e+00
   6.54653671e-01 -1.42488702e+00]
 [ 9.48718444e-01 -6.50239823e-01  4.54305974e-01  2.18955199e-01
   9.75790483e-01 -3.29087950e-01  4.66379208e-01  5.01401773e-01
   6.54653671e-01  7.01810027e-01]
 [ 9.48718444e-01 -9.36373958e-01 -1.05668951e+00  4.28794785e-01
   6.32000530e-01 -1.51856247e+00 -1.50423716e+00  5.01401773e-01
   6.54653671e-01 -1.42488702e+00]
 [ 4.83551801e-01 -2.92572154e-01  4.54305974e-01  6.32677635e-02
   5.46053042e-01  8.60386569e-01 -4.57347217e-01  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [ 6.16456556e-01  8.87731155e-01 -7.54490410e-01 -1.35822621e+00
   1.16315601e-01  8.60386569e-01 -1.13474659e+00 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [-4.46781485e-01 -4.22047850e-02  1.51200281e+00 -7.89628620e-01
   8.89842995e-01  8.60386569e-01  1.58470400e-01 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [-7.79043373e-01  5.30063486e-01 -1.05668951e+00  9.77085317e-01
   6.32000530e-01 -1.51856247e+00 -8.26837786e-01  1.12718228e-01
   6.54653671e-01 -1.42488702e+00]
 [ 1.14807558e+00 -1.68747606e+00 -3.01191766e-01 -1.26345994e+00
   1.87823911e+00  8.60386569e-01  8.97451540e-01 -6.64648861e-01
  -1.52752523e+00  7.01810027e-01]
 [ 8.48375354e-02  8.51964388e-01 -1.05668951e+00  1.62691113e+00
  -1.08694923e+00  8.60386569e-01  2.20052162e-01  1.66745241e+00
   6.54653671e-01 -1.42488702e+00]
 [-8.45495750e-01 -1.65170930e+00 -1.05668951e+00 -1.42591640e+00
  -8.29106770e-01  8.60386569e-01  7.74288017e-01  8.90085317e-01
  -1.52752523e+00 -1.42488702e+00]
 [-3.80329108e-01 -4.35639221e-01  1.96530145e+00 -1.11914446e-02
  -1.12992298e+00 -1.51856247e+00  1.57485092e+00  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [ 4.17099423e-01  1.06656499e+00 -7.54490410e-01 -1.79604635e-02
  -8.29106770e-01 -1.51856247e+00  5.89542732e-01 -6.64648861e-01
   6.54653671e-01  7.01810027e-01]
 [-7.12590995e-01  1.31693236e+00 -1.05668951e+00 -1.50714463e+00
  -3.56395584e-01  8.60386569e-01  1.14377859e+00  5.01401773e-01
   6.54653671e-01 -1.42488702e+00]
 [ 1.51289913e-01 -9.36373958e-01 -1.05668951e+00  1.13954177e+00
   7.33418566e-02  8.60386569e-01  1.69801444e+00 -1.05333241e+00
   6.54653671e-01 -1.42488702e+00]
 [ 6.82908933e-01  1.81766710e+00 -1.50092218e-01 -6.06865109e-01
   1.23363295e+00  8.60386569e-01 -1.07316483e+00 -2.75965317e-01
   6.54653671e-01  7.01810027e-01]
 [-1.57647190e+00 -1.25827486e+00 -1.05668951e+00 -3.42873372e-01
   9.75790483e-01  8.60386569e-01  1.08219682e+00  1.66745241e+00
  -1.52752523e+00 -1.42488702e+00]
 [ 4.17099423e-01 -7.93306891e-01 -4.52291314e-01 -4.17332580e-01
   3.31184321e-01  8.60386569e-01  1.26694211e+00 -1.05333241e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.24421002e+00 -4.22047850e-02  7.56505070e-01  1.09892766e+00
  -1.04397549e+00  8.60386569e-01 -1.07316483e+00 -6.64648861e-01
  -1.52752523e+00  7.01810027e-01]
 [-1.17775764e+00 -1.50864223e+00 -1.05668951e+00  9.50009242e-01
  -1.00100175e+00  8.60386569e-01  2.20052162e-01  1.12718228e-01
  -1.52752523e+00 -1.42488702e+00]
 [ 1.54678984e+00  1.72395817e-01  9.07604618e-01  7.67245731e-01
   2.00716034e+00 -1.51856247e+00 -1.62740069e+00 -1.05333241e+00
  -1.52752523e+00  7.01810027e-01]
 [-1.11130526e+00 -1.65170930e+00  4.54305974e-01  5.43868107e-01
  -1.60263416e+00 -3.29087950e-01  1.32852387e+00  1.12718228e-01
  -1.52752523e+00  7.01810027e-01]
 [-1.14519597e-01  1.67460003e+00  1.36090326e+00  1.28846019e+00
  -4.85316817e-01  8.60386569e-01  5.89542732e-01  8.90085317e-01
  -1.52752523e+00  7.01810027e-01]
 [-1.31066239e+00  1.72395817e-01 -1.05668951e+00 -3.49642390e-01
  -1.00100175e+00  8.60386569e-01  4.66379208e-01 -2.75965317e-01
   6.54653671e-01 -1.42488702e+00]
 [-1.17775764e+00 -1.07944103e+00 -1.05668951e+00 -1.12726728e-01
  -1.51668668e+00 -1.51856247e+00  1.20536035e+00  1.12718228e-01
  -1.52752523e+00 -1.42488702e+00]
 [ 8.82266066e-01 -8.29073658e-01 -1.05668951e+00 -8.23473715e-01
   7.17948018e-01 -1.51856247e+00  1.51326916e+00  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [-2.47424352e-01 -1.18674133e+00 -7.54490410e-01  8.48473958e-01
   8.46869251e-01  8.60386569e-01  5.89542732e-01  1.66745241e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.04485288e+00 -8.29073658e-01  3.03206426e-01  5.64987446e-02
   3.74158065e-01  8.60386569e-01  5.89542732e-01  1.12718228e-01
   6.54653671e-01  7.01810027e-01]
 [-1.51001953e+00  1.72395817e-01 -6.03390862e-01  5.64987446e-02
  -1.90345037e+00  8.60386569e-01 -1.13474659e+00  5.01401773e-01
   6.54653671e-01  7.01810027e-01]
 [ 2.17742290e-01  7.44664088e-01 -1.05668951e+00  1.06508256e+00
   3.03681125e-02  8.60386569e-01 -4.57347217e-01 -1.44201595e+00
   6.54653671e-01 -1.42488702e+00]
 [-3.13876730e-01  7.80430855e-01 -1.05668951e+00 -7.96397639e-01
  -3.56395584e-01 -1.51856247e+00  1.39010563e+00  8.90085317e-01
   6.54653671e-01 -1.42488702e+00]
 [ 1.51289913e-01  3.51229651e-01 -1.05668951e+00  4.96484974e-01
   5.03079298e-01 -3.29087950e-01 -4.57347217e-01 -2.75965317e-01
  -1.52752523e+00 -1.42488702e+00]
 [-6.46138618e-01  1.10233176e+00 -3.01191766e-01  2.05417161e-01
   3.74158065e-01 -3.29087950e-01  5.89542732e-01 -6.64648861e-01
   6.54653671e-01  7.01810027e-01]
 [-2.47424352e-01  2.08162584e-01 -1.05668951e+00  1.05831354e+00
   1.40552792e+00  8.60386569e-01 -8.78566466e-02 -2.75965317e-01
   6.54653671e-01 -1.42488702e+00]
 [ 1.81259935e+00 -1.85271853e-01 -1.05668951e+00 -1.48006855e+00
   3.31184321e-01 -1.51856247e+00  2.20052162e-01  8.90085317e-01
   6.54653671e-01 -1.42488702e+00]
 [-7.12590995e-01 -1.43710870e+00  6.05405522e-01 -1.61544893e+00
  -1.30181795e+00 -3.29087950e-01  3.53068767e-02  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [-5.13233863e-01  1.00862283e-01  7.56505070e-01 -1.51391364e+00
  -1.17289672e+00  8.60386569e-01  8.97451540e-01  1.66745241e+00
  -1.52752523e+00  7.01810027e-01]
 [-9.78400506e-01  1.17386529e+00  1.51200281e+00 -1.11914446e-02
  -1.08694923e+00  8.60386569e-01  6.51124493e-01  1.27876886e+00
  -1.52752523e+00  7.01810027e-01]
 [-1.84228141e+00  1.85343386e+00 -1.05668951e+00  2.34659322e-03
  -1.00100175e+00  8.60386569e-01  1.20536035e+00 -1.44201595e+00
  -1.52752523e+00 -1.42488702e+00]
 [-7.12590995e-01  7.44664088e-01 -1.05668951e+00 -1.55452776e+00
   2.45236833e-01  8.60386569e-01 -1.68898245e+00 -6.64648861e-01
   6.54653671e-01 -1.42488702e+00]
 [-6.46138618e-01 -1.11520779e+00 -1.05668951e+00  1.07185158e+00
  -1.12992298e+00  8.60386569e-01  1.45168739e+00  5.01401773e-01
   6.54653671e-01 -1.42488702e+00]
 [ 3.50647046e-01 -1.54440900e+00  4.54305974e-01 -5.73020015e-01
  -5.28290561e-01  8.60386569e-01  2.20052162e-01  5.01401773e-01
  -1.52752523e+00  7.01810027e-01]
 [-1.14519597e-01 -2.56805387e-01 -1.05668951e+00  4.42332823e-01
   9.32816739e-01  8.60386569e-01  1.45168739e+00  8.90085317e-01
   6.54653671e-01 -1.42488702e+00]
 [-3.13876730e-01 -1.32980839e+00 -1.05668951e+00  1.64803047e-01
  -3.13421840e-01  8.60386569e-01  1.63643268e+00 -1.44201595e+00
   6.54653671e-01 -1.42488702e+00]
 [ 5.50004178e-01  1.24539882e+00  9.07604618e-01 -1.64252500e+00
   1.19065920e+00  8.60386569e-01  1.45168739e+00  1.27876886e+00
  -1.52752523e+00  7.01810027e-01]
 [-1.51001953e+00  8.87731155e-01  1.20980371e+00 -5.39174920e-01
  -5.71264305e-01 -1.51856247e+00  1.32852387e+00  8.90085317e-01
   6.54653671e-01  7.01810027e-01]
 [-4.80672198e-02  1.24539882e+00 -1.05668951e+00  2.46031274e-01
  -1.84500608e-01  8.60386569e-01 -2.11020170e-01 -2.75965317e-01
  -1.52752523e+00 -1.42488702e+00]
 [ 8.48375354e-02 -3.28338920e-01 -1.05668951e+00  4.82946936e-01
  -7.43159281e-01  8.60386569e-01  7.74288017e-01 -6.64648861e-01
   6.54653671e-01 -1.42488702e+00]
 [ 3.50647046e-01  4.94296719e-01 -1.05668951e+00 -9.18239979e-01
   1.74931788e+00 -1.51856247e+00 -1.68898245e+00  1.12718228e-01
   6.54653671e-01 -1.42488702e+00]
 [-4.80672198e-02  1.53153296e+00 -1.05668951e+00  9.22933166e-01
  -3.99369329e-01 -1.51856247e+00  9.68886383e-02  5.01401773e-01
   6.54653671e-01 -1.42488702e+00]
 [-3.13876730e-01 -9.36373958e-01 -4.52291314e-01 -5.39174920e-01
   7.33418566e-02  8.60386569e-01  9.68886383e-02  5.01401773e-01
   6.54653671e-01  7.01810027e-01]
 [-2.04163855e+00 -8.64840425e-01 -4.52291314e-01 -4.03794542e-01
  -1.90345037e+00 -1.51856247e+00 -5.18928978e-01  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [-1.80971975e-01  5.65830253e-01 -1.05668951e+00 -1.31084308e+00
  -1.17289672e+00 -3.29087950e-01  4.04797447e-01 -1.44201595e+00
   6.54653671e-01 -1.42488702e+00]
 [-1.31066239e+00 -8.64840425e-01 -1.05668951e+00  1.44414762e+00
  -2.27474352e-01  8.60386569e-01  1.08219682e+00  1.12718228e-01
  -1.52752523e+00 -1.42488702e+00]
 [ 8.15813689e-01  1.72395817e-01  6.05405522e-01  5.64987446e-02
   1.59289345e-01 -1.51856247e+00 -6.42092502e-01  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [-1.24421002e+00  1.31693236e+00  1.66310236e+00  1.08538962e+00
  -5.71264305e-01  8.60386569e-01 -1.13474659e+00 -6.64648861e-01
   6.54653671e-01  7.01810027e-01]
 [-1.31066239e+00 -7.93306891e-01  6.05405522e-01  9.90623355e-01
  -8.72080514e-01 -1.51856247e+00  1.63643268e+00  1.27876886e+00
  -1.52752523e+00 -1.42488702e+00]
 [ 2.84194668e-01 -1.18674133e+00  4.54305974e-01  9.09395128e-01
   5.46053042e-01 -1.51856247e+00 -8.26837786e-01  1.27876886e+00
   6.54653671e-01  7.01810027e-01]
 [ 1.48033746e+00  2.79696117e-01 -6.03390862e-01 -9.58854093e-01
  -7.43159281e-01 -3.29087950e-01  4.66379208e-01 -1.05333241e+00
   6.54653671e-01  7.01810027e-01]
 [ 6.16456556e-01 -1.85271853e-01  1.20980371e+00 -3.69949447e-01
   7.60921762e-01  8.60386569e-01 -1.25791012e+00 -1.44201595e+00
   6.54653671e-01  7.01810027e-01]
 [-4.80672198e-02  7.80430855e-01 -7.54490410e-01  6.72479466e-01
   6.32000530e-01  8.60386569e-01 -1.07316483e+00  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [-1.84228141e+00  1.78190033e+00 -1.05668951e+00 -1.68313912e+00
  -3.99369329e-01  8.60386569e-01  7.12706255e-01  1.27876886e+00
   6.54653671e-01 -1.42488702e+00]
 [-5.13233863e-01  2.08162584e-01 -1.50092218e-01  1.07185158e+00
  -6.14238049e-01  8.60386569e-01  1.69801444e+00  1.66745241e+00
   6.54653671e-01  7.01810027e-01]
 [-3.13876730e-01 -3.64105687e-01  1.52106878e-01 -1.26264766e-01
  -1.12992298e+00  8.60386569e-01 -2.72601932e-01 -2.75965317e-01
  -1.52752523e+00  7.01810027e-01]
 [ 1.14807558e+00  1.85343386e+00  1.00733032e-03  7.68058013e-02
   1.31958044e+00 -1.51856247e+00 -7.65256025e-01 -1.44201595e+00
  -1.52752523e+00  7.01810027e-01]
 [ 1.01517082e+00 -3.99872454e-01  9.07604618e-01  7.33400636e-01
   1.79229162e+00  8.60386569e-01  7.12706255e-01  1.66745241e+00
   6.54653671e-01  7.01810027e-01]]

In [82]:
print(y_test)

132    1
390    0
310    1
3      0
248    0
      ..
27     0
183    0
157    1
129    0
279    0
Name: High, Length: 100, dtype: int64

# Feature Scaling

In [89]:
from sklearn.preprocessing import StandardScaler

In [90]:
sc = StandardScaler()

In [91]:
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Training the Random Forest Classification model on the Training data

In [92]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 40)
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=40)

In [93]:
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=40)

In [94]:
classifier.score(x_test, y_test)

0.76

# Predicting the Test set results

In [95]:
y_pred = classifier.predict(x_test)

In [96]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0], dtype=int64)

In [97]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [98]:
cm = confusion_matrix(y_test, y_pred)

In [99]:
print(cm)

[[56 10]
 [14 20]]

In [100]:
accuracy_score(y_test, y_pred)

0.76

In [101]:
classifier = RandomForestClassifier(n_estimators=100, criterion='gini')
classifier.fit(x_train, y_train)

RandomForestClassifier()

In [102]:
classifier.score(x_test, y_test)

0.88